
# /
/docs

# /branches/
/branches/Library HMF 8 juli 2008

# /branches/1.0/DevTools/
/branches/1.0/DevTools/doc

# /branches/1.0.1/DevTools/
/branches/1.0.1/DevTools/deleteId.class
/branches/1.0.1/DevTools/doc

# /branches/1.0.2/
/branches/1.0.2/*.tmp

# /branches/1.0.2/DevTools/
/branches/1.0.2/DevTools/doc

# /branches/MDr4_beta/
/branches/MDr4_beta/*.bak
/branches/MDr4_beta/SDlib_folder.xcf
/branches/MDr4_beta/SDlib_folder.ico

# /branches/MDr4_beta/Adams_library/myplugins/
/branches/MDr4_beta/Adams_library/myplugins/*.bak

# /branches/MDr4_beta/DevTools/
/branches/MDr4_beta/DevTools/DesignRules.txt
/branches/MDr4_beta/DevTools/deleteId.class
/branches/MDr4_beta/DevTools/deleteId.txt

# /tags/1.0.2/DevTools/
/tags/1.0.2/DevTools/doc

# /trunk/
/trunk/*.bak
/trunk/SDlib_folder.xcf
/trunk/SDlib_folder.ico

# /trunk/Adams_library/Level3/Hitch/
/trunk/Adams_library/Level3/Hitch/RearHitch.vsd

# /trunk/Adams_library/myplugins/
/trunk/Adams_library/myplugins/*.bak

# /trunk/DevTools/
/trunk/DevTools/*.bak
/trunk/DevTools/*.log
/trunk/DevTools/DesignRules.txt
/trunk/DevTools/deleteId.class
/trunk/DevTools/deleteId.txt

# /trunk/DevTools/dbox/
/trunk/DevTools/dbox/*.bak
/trunk/DevTools/dbox/dbox_BHCase_cyl.cmd
/trunk/DevTools/dbox/dbox_BHPlateCase.cmd
/trunk/DevTools/dbox/dbox_CaseLoader.cmd
/trunk/DevTools/dbox/dbox_RearHitch.cmd
/trunk/DevTools/dbox/dbox_backhoe.cmd
/trunk/DevTools/dbox/dbox_flexbeam_contact.cmd
/trunk/DevTools/dbox/dbox_flexbeam_contact2.cmd
/trunk/DevTools/dbox/testmodel.cmd

# /trunk/UserInstall/
/trunk/UserInstall/*.bak
/trunk/UserInstall/*.log
/trunk/UserInstall/*.loq
